# Ignore the following files when committing

# Ignore object an archive files
*.[oa]
# Ignore libraries
*.so
# Ignore windows libraries
*.dll
# Ignore vim lock files
*.swp
*.swo
# Ignore
*~
# Ignore hidden files
.*
# Do not ignore hidden .gitignore
!.gitignore
# Ignore data and inst
# inst/*
