### Aneufinder configuration file ###

[General]
numCPU = 4
reuse.existing.files = TRUE

[Binning]
format = 'bam'
chromosomes = c(1:19,'X')
binsizes = c(200000,500000)
reads.per.bin = c(20,200)
pairedEndReads = FALSE
GC.correction = TRUE
# GC.correction.bsgenome = 'BSgenome.Mmusculus.UCSC.mm10'
GC.correction.bsgenome = 'BSgenome.Hsapiens.UCSC.hg19'
remove.duplicate.reads = TRUE
min.mapq = 10

[CNV]
findCNVs = TRUE
eps = 0.1
max.time = 1800
max.iter = -1

[SCE]
findSCEs = FALSE
eps = 0.1
max.time = 1800
max.iter = -1

[Plotting]
cluster = TRUE
