### Aneufinder configuration file ###

[General]
numCPU = 6
reuse.existing.files = TRUE

[Binning]
format = 'bam'
chromosomes = c(1:19,'X')
binsizes = c(500000)
pairedEndReads = FALSE
remove.duplicate.reads = TRUE
min.mapq = 10

[Correction]
method = 'GC'
# GC.bsgenome = 'BSgenome.Hsapiens.UCSC.hg19'
GC.bsgenome = 'BSgenome.Mmusculus.UCSC.mm10'

[CNV]
findCNVs = TRUE
eps = 0.1
max.time = 60
max.iter = -1
states = c('zero-inflation','nullsomy','monosomy','disomy','trisomy','tetrasomy','multisomy')
most.frequent.state = 'disomy'

[SCE]
findSCEs = FALSE
eps = 0.1
max.time = 1800
max.iter = -1

[Plotting]
cluster = TRUE
