useDynLib(aneufinder)

# Export all names
# exportPattern(".")
export(
bed2binned,
bam2binned,
bedGraph2binned,

find.aneuploidies,

plot.distribution,
plot.BAIT,
plot.genome.overview,
get.state.table,
get.dendrogram,
get.reproducibility.one2many,
get.reproducibility.many2many,

univariate2bed,
binned2wiggle,
binned2GRanges,
hmm2GRanges,
hmmList2GRangesList,
loadHmmsFromFiles,
bed2GRanges,

get.state.labels,
get.state.colors,
mixedsort,
mixedorder
)

# Import all packages listed as Imports or Depends
import(
	GenomicRanges, IRanges
)
